node_modules
.DS_Store
Archived_client_1       
Archived_server_1       
Archived_server_2       
test
./client/node_modules
./client/build
./server/node_modules
./socket/node_modules
./server/client/node_modules
./server/node_modules
./client/node_modules
./client/build
.vscode/
server/models/Conversation.js
server/models/Message.js
server/routes/conversation.js
server/routes/message.js
socket/
.idea
.env
./deploy/terraform.tfvars
.env
deploy/.terraform.lock.hcl
deploy/.terraform/
deploy/terraform.tfstate
deploy/terraform.tfstate.backup
