node_modules
.DS_Store
Archived_client_1       
Archived_server_1       
Archived_server_2       
test
frontend/node_modules
frontend/build
./server/node_modules
./socket/node_modules
./server/client/node_modules
.vscode/
server/models/Conversation.js
server/models/Message.js
server/routes/conversation.js
server/routes/message.js
socket/
.idea
.env
*.env
frontend/cypress/screenshots
