node_modules
.DS_Store
Archived_client_1       
Archived_server_1       
Archived_server_2       
test
frontend/node_modules
frontend/build
backend/node_modules
./socket/node_modules
backend/client/node_modules
.vscode/
backend/models/Conversation.js
backend/models/Message.js
backend/routes/conversation.js
backend/routes/message.js
socket/
.idea
.env
*.env
frontend/cypress/screenshots
*.iml
